body{
    background: linear-gradient(to left, rgba(7, 27, 82,1)0%, rgba(0,128,128,1)100%)
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.image{
    display: block;
    width: 370px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
@media(max-width:770px){
    .container{
        margin:0 10%;
    }
    .image{
        width: 100%;

    }
}
