body{
    background:linear-gradient(to right, rgb(19, 143, 236), rgb(108, 203, 52));
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.image{
    display: block;
    width: 370px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
@media(max-width:770px){
    .container{
        margin:0 10%;
    }
    .image{
        width: 100%;

    }
}